body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    color: #2c3e50;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../assets/chuck_approuved.jpg');
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: 95%;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    padding: 25px 0;
}

.button {
    border: 2px solid #2c3e50;
    border-radius: 2px;
    color: #2c3e50;
    padding: 5px 10px;
    text-align: center;
    display: table;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0 auto 25px auto;
    transition: 0.2s ease all;
}

.button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

textarea {
    display: block;
    margin: auto;
    border: 1px solid rgba(44, 62, 80, 0.40);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 90%;
    height: 50%;
    border-radius: 2px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.8;
}

.author {
    text-align: center;
}

.author a {
    color: #1f4d76;
    text-decoration: none;
}

.github-buttons {
    display: table;
    margin: auto;
    border: 1px solid rgba(44, 62, 80, 0.40);
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 15px 25px;
}

.github-buttons iframe {
    display: inline-block;
}